<?xml version="1.0"?>
<launch>
  <arg name="workspace_path" default="$(env HOME)/WTBinspector_ws"/>

  <!-- World and Gazebo settings -->
  <arg name="world" default="$(arg workspace_path)/gazebo/worlds/wind_farm.world"/>
  <arg name="gui" default="true"/>
  <arg name="paused" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="true"/>

  <!-- Wind generator spawn position -->
  <arg name="fan_x" default="0"/>
  <arg name="fan_y" default="0"/>
  <arg name="fan_z" default="0"/>

  <!-- Drone options -->
  <arg name="spawn_drone" default="false"/>
  <arg name="drone_x" default="30"/>
  <arg name="drone_y" default="0"/>
  <arg name="drone_z" default="10"/>
  <arg name="drone_vehicle" default="iris"/>
  <arg name="drone_sdf" default="iris_realsense_camera"/>
  <!-- drone_ns must match {vehicle}_{ID} for XTDrone keyboard control -->
  <arg name="drone_ns" default="iris_0"/>

  <!-- ============ 1. Start Gazebo ============ -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="paused" value="$(arg paused)"/>
  </include>

  <!-- ============ 2. Spawn Wind Generator (URDF) ============ -->
  <param name="robot_description"
    textfile="$(arg workspace_path)/src/fans_model/wind_generator_description/urdf/wind_generator.xacro"/>

  <node name="spawn_wind_generator" pkg="gazebo_ros" type="spawn_model"
    args="-urdf -param robot_description -model wind_generator
          -x $(arg fan_x) -y $(arg fan_y) -z $(arg fan_z)"
    respawn="false" output="screen"/>

  <!-- ============ 3. ROS Controllers ============ -->
  <rosparam file="$(arg workspace_path)/src/fans_model/fans_moveit_config/config/ros_controllers.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="fans_controller joint_state_controller"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="true" output="screen"/>

  <!-- ============ 4. Spawn Drone (optional) ============ -->
  <group if="$(arg spawn_drone)">
    <group ns="$(arg drone_ns)">
      <arg name="ID" value="0"/>
      <arg name="ID_in_group" value="0"/>
      <arg name="fcu_url" default="udp://:24540@localhost:34580"/>

      <include file="$(find px4)/launch/single_vehicle_spawn_xtd.launch">
        <arg name="x" value="$(arg drone_x)"/>
        <arg name="y" value="$(arg drone_y)"/>
        <arg name="z" value="$(arg drone_z)"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
        <arg name="vehicle" value="$(arg drone_vehicle)"/>
        <arg name="sdf" value="$(arg drone_sdf)"/>
        <arg name="mavlink_udp_port" value="18570"/>
        <arg name="mavlink_tcp_port" value="4560"/>
        <arg name="ID" value="$(arg ID)"/>
        <arg name="ID_in_group" value="$(arg ID_in_group)"/>
      </include>

      <include file="$(find mavros)/launch/px4.launch">
        <arg name="fcu_url" value="$(arg fcu_url)"/>
        <arg name="gcs_url" value=""/>
        <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
        <arg name="tgt_component" value="1"/>
      </include>
    </group>
  </group>
</launch>
